:root {
  --blue: #1000e2;
  --black: #212121;
}

.body,
p,
h1,
h2,
h3 {
  color: var(--black);
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.app-container {
  width: 80%;
  max-width: 900px;
}

.header-description a {
  font-weight: 500;
}

.case-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.App a {
  text-decoration: none;
  color: var(--black);
}

.App a:hover {
  opacity: 0.7;
}

.case-thumbnail-container h4 {
  color: var(--black);
}

.case-thumbnail-img {
  width: 100%;
  height: auto;
}

.case-back-button {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.case-back-button:hover {
  opacity: 0.5;
}

.vimeo-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vimeo-iframe-container {
  padding: 56.25% 0 0 0;
  position: relative;
  margin-bottom: 2em;
}

.case-back-button-title {
  padding: 0px;
  -webkit-appearance: none;
  background-color: transparent;
  border: transparent;
}

.case-video-wrapper {
  margin-bottom: 5em;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.case-react-player {
  position: relative;
  top: 0;
  left: 0;
}

.case-image {
  text-align: center;
  margin: auto;
}

.case-image-img {
  max-width: 600px;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

.footer-container-right {
  text-align: right;
}

@media (max-width: 349px) {
  @keyframes slide {
    from {
      transform: translateX(-175px);
    }
    to {
      transform: translateX(1000px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 175px;
  }

  .gallery-item {
    position: absolute;
    max-width: 175px;
    max-height: 175px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 175px;
    margin-bottom: 2em;
  }

  .App p {
    font-size: 0.5em;
    line-height: 1.5em;
  }

  .header h1 {
    margin-top: 7em;
  }

  .app-container h1 {
    margin-bottom: 0.7em;
    font-size: 1.9em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .app-container h2 {
    font-size: 0.8em;
    font-weight: 700;
  }

  .header h2 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 15em;
  }

  .case-p {
    margin-bottom: 2em;
  }

  .case-image-img {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .header-description {
    font-weight: 350;
    margin-bottom: 3em;
  }

  .app-navigation-item {
    max-width: 45%;
    margin-top: 3em;
  }

  .case-thumbnail-title {
    font-size: 0.5em;
    line-height: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .case-video-container {
    width: 100%;
    margin: auto;
  }

  .case-back-button-title {
    font-size: 10vw;
  }

  .footer {
    border-top: 0.5em solid var(--black);
    margin-top: 6em;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  @keyframes slide {
    from {
      transform: translateX(-175px);
    }
    to {
      transform: translateX(1150px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 175px;
  }

  .gallery-item {
    position: absolute;
    max-width: 175px;
    max-height: 175px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 175px;
    margin-bottom: 3em;
  }

  .App p {
    font-size: 0.75em;
    line-height: 1.5em;
  }
  .header h1 {
    margin-top: 6em;
  }

  .app-container h1 {
    margin-bottom: 1em;
    font-size: 2.4em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .app-container h2 {
    font-size: 0.8em;
    font-weight: 700;
  }

  .header h2 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 22em;
  }

  .case-p {
    margin-bottom: 3em;
  }

  .case-image-img {
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .header-description {
    font-weight: 350;
    margin-bottom: 6em;
  }

  .app-navigation-item {
    max-width: 45%;
    margin-top: 3em;
  }

  .case-thumbnail-title {
    font-size: 0.7em;
    line-height: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .case-video-container {
    width: 100%;
    margin: auto;
  }

  .case-back-button-title {
    font-size: 12vw;
  }

  .footer {
    border-top: 0.5em solid var(--black);
    margin-top: 6em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  @keyframes slide {
    from {
      transform: translateX(-375px);
    }
    to {
      transform: translateX(1750px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 275px;
  }

  .gallery-item {
    position: absolute;
    max-width: 275px;
    max-height: 275px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 275px;
    margin-bottom: 6em;
  }

  .App p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .header h1 {
    margin-top: 3em;
  }

  .app-container h1 {
    margin-bottom: 1em;
    font-size: 4.8em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .app-container h2 {
    font-size: 1.4em;
    font-weight: 700;
  }

  .header h2 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 13em;
  }

  .header-description {
    width: 80%;
    font-weight: 350;
    margin-bottom: 6em;
  }

  .case-p {
    margin-bottom: 6em;
  }

  .case-image-img {
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .app-navigation-item {
    width: 30%;
    margin-top: 3em;
  }

  .case-thumbnail-title {
    line-height: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .case-video-container {
    width: 90%;
    margin: auto;
  }

  .case-back-button-title {
    font-size: 8vw;
  }

  .footer {
    border-top: 0.5em solid var(--black);
    margin-top: 6em;
  }
}

@media (min-width: 1024px) and (max-width: 1250px) {
  @keyframes slide {
    from {
      transform: translateX(-375px);
    }
    to {
      transform: translateX(1750px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 275px;
  }

  .gallery-item {
    position: absolute;
    max-width: 275px;
    max-height: 275px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 275px;
    margin-bottom: 6em;
  }

  .App p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .header h1 {
    margin-top: 3em;
  }

  .app-container h1 {
    margin-bottom: 1em;
    font-size: 5.8em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .app-container h2 {
    font-size: 1.8em;
    font-weight: 700;
  }

  .header h2 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 10em;
  }

  .case-p {
    margin-bottom: 6em;
  }

  .case-image-img {
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .header-description {
    width: 80%;
    font-weight: 350;
    margin-bottom: 6em;
  }

  .app-navigation-item {
    width: 30%;
    margin-top: 4em;
  }

  .case-thumbnail-title {
    line-height: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .case-video-container {
    width: 85%;
    margin: auto;
  }

  .case-back-button-title {
    font-size: 6vw;
  }

  .footer {
    border-top: 0.5em solid var(--black);
    margin-top: 6em;
  }
}

@media (min-width: 1251px) {
  @keyframes slide {
    from {
      transform: translateX(-375px);
    }
    to {
      transform: translateX(2350px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 275px;
  }

  .gallery-item {
    position: absolute;
    max-width: 275px;
    max-height: 275px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 275px;
    margin-bottom: 6em;
  }

  .App p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .header h1 {
    margin-top: 2em;
  }

  .app-container h1 {
    margin-bottom: 0.8em;
    font-size: 7em;
    font-weight: 900;
    line-height: 1.1em;
  }

  .app-container h2 {
    font-size: 1.8em;
    font-weight: 700;
  }

  .header h2 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 9em;
  }

  .case-p {
    margin-bottom: 6em;
  }

  .case-image-img {
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .header-description {
    width: 65%;
    font-weight: 350;
    margin-bottom: 6em;
  }

  .app-navigation-item {
    width: 30%;
    margin-top: 4em;
  }

  .case-thumbnail-title {
    line-height: 0.7em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .case-video-container {
    width: 70%;
    margin: auto;
  }

  .case-back-button-title {
    font-size: 5em;
  }

  .footer {
    border-top: 0.5em solid var(--black);
    margin-top: 6em;
  }
}

@media (min-width: 2350px) {
  @keyframes slide {
    from {
      transform: translateX(-375px);
    }
    to {
      transform: translateX(4000px);
    }
  }

  .slider-wrapper {
    overflow: hidden;
    left: 0;
    width: 100%;
    position: absolute;
    height: 275px;
  }

  .gallery-item {
    position: absolute;
    max-width: 275px;
    max-height: 275px;
    animation: slide linear infinite;
  }

  .animated-gallery {
    height: 275px;
    margin-bottom: 6em;
  }
}
