@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700,900&display=swap');

body {
  color: #212121;
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.005em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
